In [30]:
import pandas as pd
import os
os.getcwd()

'C:\\Users\\svvan\\Desktop\\Project-Amsterdam\\your-code'

In [103]:
sport_facilities = pd.read_excel('../datasets/# of sport facilities.xlsx')
sport_facilities = sport_facilities.rename(columns={'7.3.1  Sportaccommodaties naar soort, 1 juli 2016-2020' : 'Sportfacilities',
                                                   'Unnamed: 1' : '2016', 'Unnamed: 2' : '2017', 'Unnamed: 3' : '2018',
                                                   'Unnamed: 4' : '2019', 'Unnamed: 5' : '2020'}).reset_index()

sport_facilities = sport_facilities.dropna()
sport_facilities = sport_facilities.set_index('Sportfacilities')
sport_facilities = sport_facilities.drop(['index'], axis = 1)

sport_facilities = sport_facilities.rename(index={
'test' : 'Football Fields (grass)',
'voetbalvelden kunstgras (rubber- of kurkingestrooid)' : 'Football Fields (synthetic)',
'voetbaltrainingsvelden/hoeken' : 'Football training fields',
'korfbalvelden' : 'Basketball Fields',
'hockeyvelden (w.v. kunstgras)' : 'Hockey Fields (synthetic)',
'handbalvelden' : 'Hand Ball Fields',
'rugbyvelden (waarvan kunstgras)' : 'Rugby Fields (grass + synthetic)',
'honkbalvelden' : 'Baseball Fields',
'softbalvelden' : 'Soft Ball Fields',
'cricketvelden' : 'Cricket Fields',
'american footballvelden' : 'American Football Fields',
'lacrossevelden' : 'Lacrosse Fields',
'Frisebeevelden' : 'Frisbee Fields',
'beachcentrum (outdoor velden)' : 'Beach Center (Outdoor Fields)',
'kaatsvelden' : 'Pelota Fields',
'atletiekbanen' : 'Athletic circuits',
'tennisbanen' : 'Tennis Fields',
'golfbanen' : 'Golf Ranges',
'midgetgolfbanen' : 'Mini-Golf Ranges',
'wielercircuits' : 'Cycling Circuits',
'landijsbanen' : 'natural ice skate tracks',
'kunstijsbanen' : 'non natural ice skate tracks',
'klimmuren' : 'Climbing Walls',
'zwembaden' : 'Swimming Pools',
'roei-/kanobaan' : 'Rowing track',
'sporthallen (veld 20x40m)' : 'sportcenter',
'    aantal speelvloeren 20x40m' : 'Playing fields',
'zwembaden' : 'Swimming Pools',
'tennisbanen (hallen)' : 'Tennis (inside)',
'squashbanen (centra)' : 'Squash (inside)',
'bowlingcentra' : 'Bowling Alleys',
'schietsportaccomodatie' : 'Shooting Ranges',
'wielerbaan' : 'Cycling Track',
'ijshal' : 'Icehall'})

sport_facilities = sport_facilities.transpose()
sport_facilities.head(20)

Sportfacilities,voetbalvelden gras (w.v. wetra),Football Fields (synthetic),Football training fields,Basketball Fields,Hockey Fields (synthetic),handbalvelden,Rugby Fields (grass + synthetic),Baseball Fields,Soft Ball Fields,Cricket Fields,...,schermzalen,skiaccommodatie,klimaccommodatie,sportzalen,kano-clubhuizen,plankzeil-clubhuizen,roei-clubhuizen,watersport-clubhuizen,roeihome,watersportcentrum
2016,71 (1),68,7,12,43 (38),9,3 (1),6,6,11,...,3,1,5,8,5,2,10,21,1,2
2017,70 (2),71,9,13,43 (38),8,3 (1),6,8,12,...,3,1,5,8,5,2,10,21,1,2
2018,77 (2),71,9,13,46 (41),6,3 (1),6,8,12,...,3,1,6,9,5,2,10,21,1,2
2019,73 (2),75,9,13,45 (41),6,3 (1),6,8,12,...,3,1,6,12,5,2,9,21,1,2
2020,72 (2),76,9,13,45 (41),6,3 (1),6,8,12,...,3,1,6,12,5,2,9,21,1,2

In [94]:
# Export comma-separated variable file
sport_facilities.to_csv('../../ProjectAmsterdam/2sport_facilities_export.csv', index=True)

In [127]:
cause_death = pd.read_excel('../Datasets/#_-cause-of-death-2015-2019.xlsx')

cause_death = cause_death.rename(columns={'Unnamed: 1' : '2015', 'Unnamed: 2' : '2016', 'Unnamed: 3' : '2017',
                                          'Unnamed: 4' : '2018', 'Unnamed: 5' : '2019'}).reset_index()
cause_death = cause_death.rename(columns={'7.2.8      Sterfte naar doodsoorzaken in Amsterdam en Nederland, 2015-2019' : 'Cause of Death'})

cause_death = cause_death.dropna()
cause_death = cause_death.set_index('Cause of Death')
cause_death = cause_death.drop(['index'], axis = 1)

cause_death = cause_death.reset_index()
cause_death2 = cause_death.loc[(cause_death['Cause of Death']=='ziekten van hart en vaatstelsel') |
                              (cause_death['Cause of Death']=='totaal')]

cause_death2 = cause_death2.set_index('Cause of Death')
cause_death2 = cause_death2.rename(index={
    'ziekten van hart en vaatstelsel' : 'Heart- & artery disease',
    'totaal' : 'total'
})
cause_death2 = cause_death2.transpose()
cause_death2.head(10)

cause_death3 = cause_death2.iloc[:,[0,1,4,5]]
cause_death3 = cause_death3.reset_index()



lst = ["Year", "Heart- & Artery Disease", "Total", "Heart- & Artery Disease(%)", "Total(%)"]
cause_death3.columns = lst

cause_death3


#First Heart & Artery Disease is for Amsterdam against the total of diseases in Amsterdam, then for the Netherlands and
#then given in percentages. RENAME THE COLUMNS ACCORDINGLY

   Year Heart- & Artery Disease Total Heart- & Artery Disease(%) Total(%)
0  2015                    1315  5453                       24.1      100
1  2016                    1294  5517                       23.5      100
2  2017                    1206  5169                       23.3      100
3  2018                    1175  5374                       21.9      100
4  2019                    1155  5248                         22      100

In [97]:
# Export comma-separated variable file
cause_death2.to_csv('../../ProjectAmsterdam/2cause_death_export.csv', index=True)

In [98]:
os.getcwd()

'C:\\Users\\svvan\\Desktop\\Project-Amsterdam\\your-code'

In [133]:
sportpeople = pd.read_excel('../Datasets/_ of people sporting.xlsx')

sportpeople = sportpeople.rename(columns={'7.3.4  Amsterdammers van 5-80 jaar die een of meer keer per week en maand 1) sporten  ' : '% Amsterdammers (5-80y/o) who sport atleast once a week or month & most practised sport',
                                                   'Unnamed: 1' : '2017 November', 'Unnamed: 2' : '2018 April', 'Unnamed: 3' : '2018 November',
                                                   'Unnamed: 4' : '2019 April', 'Unnamed: 5' : '2020 April'}).reset_index()

sportpeople = sportpeople.dropna()
sportpeople = sportpeople.set_index('% Amsterdammers (5-80y/o) who sport atleast once a week or month & most practised sport')
sportpeople = sportpeople.drop(['index'], axis = 1)

sportpeople.head(25)

sportpeople = sportpeople.rename(index={
    'een of meer keer per week' : 'One or more times a week',
    'een of meer keer per maand' : 'One or more times a month',
    'fitness individueel' : 'Fitness (individually)',
    'hardlopen/joggen' : 'Sprinting/Jogging',
    'wandelsport' : 'Hiking',
    'zwemsport' : 'Swimming',
    'fitness in een groep' : 'Fitness in group',
    'yoga' : 'Yoga',
    'wielrennen' : 'Cycling',
    'voetbal' : 'Football',
    'danssport' : 'Dancing'
})
sportpeople = sportpeople.transpose()
sportpeople = sportpeople.drop(['2018 April'])
sportpeople = sportpeople.rename(index = {'2017 November' : '2017', '2018 November' : '2018', '2019 April' : '2019',
                                         '2020 April' : '2020'})
sportpeople

% Amsterdammers (5-80y/o) who sport atleast once a week or month & most practised sport,One or more times a week,One or more times a month,Fitness (individually),Sprinting/Jogging,Hiking,Swimming,Fitness in group,Yoga,Cycling,Football,Dancing
2017,66,74,26,13,12,11,9,9,4,5,5
2018,70,76,28,15,12,11,10,9,5,8,6
2019,72,78,29,17,13,11,11,9,8,8,5
2020,62,68,26,24,21,-,-,10,14,3,2

In [100]:
# Export comma-separated variable file
sportpeople.to_csv('../../ProjectAmsterdam/2sportpeople.csv', index=True)